/* Reset some default styles */
body,
h1,
h2,
h3,
p,
img {
    margin: 0;
    padding: 0;
}

/* Apply a box-sizing border-box model to all elements */
* {
    box-sizing: border-box;
}

/* Body */
body {
    margin: 100px;
    margin-left: 200px;
    background-color: darkgray;
}

/* Header */
#header {
    background-color: white;
    height: 300px;
}

/* Navigation */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem;
}

.logo {
    width: 200px;
}

.searchgroup {
    width: 100%;
    font-size: 13px;
    height: 46px;
}

#query {
    width: 70%;
    height: 70px;
    font-size: 30px;
}

.btn {
    width: 70px;
    height: 70px;
    background-color: whitesmoke;
}

/* Menu */
/* Menu */
.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: lightskyblue;
    padding: 30px;
}

.menu a {
    text-decoration: none;
    color: black;
    text-align: center;
    flex: 1;
    /* Equal width for each menu item */
}

.menu a:hover {
    color: blue;
}

.menu a:active {
    color: rgb(0, 0, 0);
}

.menu a.current {
    color: aqua;
}

  
  /* Main */
 .klocation{
    background-color: LavenderBlush;
 }
 .klocation p,iframe{
    width:50%;
    padding:10px;
   color:black;
 }
 .k,.g{
    display:flex;
    padding:5%;
 }
 .glocation img,p{
    width:50%;
    padding:10px;
    color:white;
 }
 .glocation{
    background-color:#1C0A00;
    padding:5%;
 }
 .glocation h2{
    color:white;
 }
 .container{
    background-color:LavenderBlush;
    padding:5%;
 }
 .container p{
    color:black;
 }
 .to{
    padding:5%;
 }
 .line{
    display:flex;
 }
 .line img{
    width:50%;
 }