/* Reset some default styles */
body, h1, h2, h3, p, img {
    margin: 0;
    padding: 0;
}

/* Apply a box-sizing border-box model to all elements */
* {
    box-sizing: border-box;
}

/* Body */
body {
    margin: 100px;
    margin-left: 200px;
    background-color: darkgray;
}

/* Header */
#header {
    background-color: white;
    height: 300px;
}

/* Navigation */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem;
}

.logo {
    width: 200px;
}

.searchgroup {
    width: 100%;
    font-size: 13px;
    height: 46px;
}

#query {
    width: 70%;
    height: 70px;
    font-size: 30px;
}

.btn {
    width: 70px;
    height: 70px;
    background-color: whitesmoke;
}

/* Menu */
/* Menu */
.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: lightskyblue;
    padding: 30px;
}

.menu a {
    text-decoration: none;
    color: black;
    text-align: center;
    flex: 1; /* Equal width for each menu item */
}

.menu a:hover {
    color: blue;
}

.menu a:active {
    color: rgb(0, 0, 0);
}

.menu a.current {
    color: aqua;
}

/* body */


.coo{
    font-size:16px;
    font-weight:400;
    border:0;
    background:honeydew;
    color:black;
    line-height:1.35em;
    margin:0px 0px 17px;
    padding:18px 9px;
    position:absolute;
    height:200px;
    width:200px;
    top:800px;
    left:400px;
}

.co{
    font-size:16px;
    font-weight:400;
    border:0;
    background:honeydew;
    color:black;
    line-height:1.35em;
    margin:0px 0px 17px;
    padding:18px 9px;
    position:absolute;
    height:200px;
    width:200px;
    top:800px;
    left:700px;
}

.cl{
    font-size:16px;
    font-weight:400;
    border:0;
    background:honeydew;
    color:black;
    line-height:1.35em;
    margin:0px 0px 17px;
    padding:18px 9px;
    position:absolute;
    height:200px;
    width:200px;
    top:800px;
    left:1000px;
}



.c{
    font-size:16px;
    font-weight:400;
    border:0;
    background:honeydew;
    color:black;
    line-height:1.35em;
    margin:0px 0px 17px;
    padding:18px 9px;
    position:absolute;
    height:200px;
    width:200px;
    top:500px;
    left:400px;
}

.o{
    font-size:16px;
    font-weight:400;
    border:0;
    background:honeydew;
    color:black;
    line-height:1.35em;
    margin:0px 0px 17px;
    padding:18px 9px;
    position:absolute;
    height:200px;
    width:200px;
    top:500px;
    left:700px;
}

.cool{
    font-size:16px;
    font-weight:400;
    border:0;
    background:honeydew;
    color:black;
    line-height:1.35em;
    margin:0px 0px 17px;
    padding:18px 9px;
    position:absolute;
    height:200px;
    width:200px;
    top:500px;
    left:1000px;
}

footer{
    background-color:white;
}